*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Intellij IDE files

outbound/download-queue/data/
outbound/download-queue/target/
outbound/download-queue/error-log.log
outbound/download-queue/.idea/workspace.xml
outbound/download-queue/.idea/tasks.xml