*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Log-file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Intellij IDE files
# Download Queue
outbound/download-queue/data/
outbound/download-queue/target/
outbound/download-queue/.idea/workspace.xml
outbound/download-queue/.idea/tasks.xml

#External Attachment Receiver
outbound/external-attachment-receiver/data/
outbound/external-attachment-receiver/target/
outbound/external-attachment-receiver/.idea/workspace.xml
outbound/external-attachment-receiver/.idea/tasks.xml